// Background body: 
$bg_Body: #E5E5E5;

// Brand-color:

$brandDarkGreen: rgb(33, 96, 63);
$brandLightGreen: rgb(132, 197, 81);
$brandBrown: rgb(141, 50, 0);
$brandOrange: rgb(232, 78, 15);


// Text-color: 

$txWhite: #ffffff;
$txDark: rgba(0, 0, 0, 1);
$txLight: rgba(255, 255, 255, 1);

